*, *:before, *:after {
    box-sizing: border-box;
}

h1 {
    color: red;
    text-decoration:underline;
    text-decoration-color: red;
    text-align: center;
}

p.first {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

p.second {
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin: 25px 50px 75px 100px;
}

p.third {
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#name {
    font-weight: bold;
}

#name:hover {
    color: blueviolet;
    cursor: grab;
    font-size: larger;
}

#fname, #lname, #school {
    padding:10px;
    border-radius:10px;
    text-align: left;
}

input {
    display: inline-block;
    font-size: large;
    text-align: left;
    float: left;
    clear: left;
}

label{
    display: inline-block;
    font-size: large;
    text-align: left;
    float: left;
    clear: left;

}
